---
layout: page
title: Latest Posts
---
{% for post in site.posts %}

<a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>

<div class="row">
  <div class="col-auto mr-auto">
    {% assign author = site.authors | where: 'short_name', post.author | first %}
    {% if author %}
    <a href="{{ author.url }}">{{ author.name }}</a>
    {% endif %}
  </div>
  <div class="col-auto">
    {% assign publish_date = post.date %}
    {% if publish_date %}
    {{ publish_date | date_to_string }}
    {% endif %}
  </div>
</div>

<p>{{ post.excerpt }}</p>

{% endfor %}
