---
layout: page
title: page.title
excerpt_separator: <!--more-->
---

{% assign author = site.authors | where: 'short_name', page.author | first %}

<article>
  <header>
    <h4>{{ page.title | escape }}</h4>

    <div class="row">
      <div class="col-auto mr-auto">
        {%- if author -%}
        <a href="{{ author.url }}">{{ author.name }}</a>
        {% endif %}
      </div>
      <div class="col-auto">
        <p class="text-muted font-italic">
          <time datetime="{{ page.date | date_to_xmlschema }}">
            {%- assign date_format = "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
          </time>
        </p>
      </div>
    </div>
  </header>

  {{ content }}
</article>
