---
layout: page
---

{% assign author = site.authors | where: 'short_name', page.author | first %}
<!--{% if author %}-->
<!-- - <a href="{{ author.url }}">{{ author.name }}</a>-->
<!--{% endif %}-->

<header>
  <h3>{{ page.title | escape }}</h3>
</header>


<div class="row">
  <div class="col-auto mr-auto">
    {%- if author -%}
    <a href="{{ author.url }}">{{ author.name }}</a>
    {% endif %}
  </div>
  <div class="col-auto">
    <p class="text-muted">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
    </p>
  </div>
</div>

<section>
  {{ content }}
</section>

</article>
